
	body {
		font-family: Verdana,ariel,sarif;
		width: 800px;
		padding-left:300px;
	}
	.box {
		width: 800px;
		background: #ff0000;
		color: #ffffff;
		padding: 5px;
	}
	h1 {

		color: #ffffff;
		font-size: 35px;
		background-color: #ff0000;
	}
	h2{
		font-family: monospace;
		color: #00008b;
		font-size: 3em;
	}
	.header-style{
		color: red;
		font-family: serif;
		border: 2px;
		font-size: 20px;
	}
	h3 hr.box {
		color:#ffffff;
	}
	figure {
		border:1px solid red;
		width:250px;
		padding: 15px;15px;15px;
		float:left;
	}
	nav {
		padding: 5px;5px;5px;
		color: #ffffff;
	}
	.nav-set {
		color: red;
	}
	footer {
		background: grey;
	}
	a {
		color #00008b;
	}
	a:visited{
		color: #cc0000;
	}
	a:hover{
		color: #008000;
	}
	p{
		line-height: 150%;
	}
	strong{
		color: #808080;
		font-style: italic;
	}
	p.small {
		font-size: .5em;
		font-style: italic;
	}